/* Parent container that takes full viewport height and centers content */
.element-height-container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: flex-start; /* Vertically center the content */
    height: auto; /* No need for full height, just space for content */
    margin-top: 20px; /* Add spacing below the NavBar (adjust this based on your NavBar height) */
}

/* Container for the col-md-4 content */
.col-md-4-container {
    /* margin-top: 20px; Adds some spacing above the col-md-4 */
    width: auto; /* Let the width be determined by content */
    max-width: 500px; /* Max width to limit it */
}

.card {
    background-color: #101010d1;
    color: #f0f2f5;
    border: 20px solid rgba(16, 16, 16, 0.63);
    box-shadow: inset 0 0 0 2px #ffffff;
    box-sizing: border-box;
}

.list-group a {
    margin-top: 1rem;
    border-left: 5px dotted;
    color: white;
    text-decoration: none;
}

.list-group a:not(:last-of-type) li {
    border-bottom: none !important;
}

.list-group a:hover {
    text-decoration: none;
    border-left-style: solid;
    border-left-width: 3px;
    font-weight: bold;

}

.list-group a:hover li {
    margin-left: 2px;
}

.list-group-item {
    background-color: transparent;
    font-weight: bold;
    color: white;
    text-decoration: none; 
}

.list-group-item:hover {
    cursor: pointer;
}

.inner-border {
    border: 20px solid #101010d1;
    box-shadow: inset 0 0 0 10px #ffffff;
    box-sizing: border-box;
}

.list-group-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
    background: black;
}

/* Tag Styling - Centering Text */
.tag-badge {
    color: white; /* White font */
    padding: 4px 10px;
    font-size: 12px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center; /* Centers text inside the badge */
    height: 22px; /* Adjusted for better vertical alignment */
    min-width: 60px; /* Ensures a consistent size */
    text-align: center;
}

/* Buttons Styling */
.btn-link {
    text-decoration: none;
    font-size: 14px; /* Standard size */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

/* Adjust icon size */
.btn-link svg {
    font-size: 14px; /* Ensures icons are the same size */
}

.btn-link:hover {
    opacity: 0.7;
}